
@{
    ViewBag.Title = "_LayoutPage2";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TrackingVaccine.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #home {
            background: linear-gradient(#BBD2C5, #536976)
        }
    </style>
</head>
<body id="home">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TrackingVaccine.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Vaksin", "ViewVaccine", "Home")</li>
                    <li>@Html.ActionLink("Pelaporan Vaksin", "ViewVaccineReport", "Home")</li>
                    <li>@Html.ActionLink("Penggunaan Vaksin", "ViewUsageReport", "Home")</li>
                    <li>@Html.ActionLink("Produsen", "Produsen", "Home")</li>
                    <li>@Html.ActionLink("Pasien", "Pasien", "Home")</li>
                    <li>@Html.ActionLink("Rumah Sakit", "Hospital", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Index", "Autentikasi")</li>
                </ul>
            </div>
        </div>
    </div>
    <center>
        <div class="container body-content">
            @RenderBody()
            <hr /><hr /><br />
            <footer>
                <p>
                    &copy; @DateTime.Now.Year - D3TI19-04 | Pemrograman Teknologi .NET |
                    <a href="" target="_blank" style="color:black"><b>@Html.ActionLink("TrackingVaccine.com", "Index", "Home")</b></a>
                </p>
            </footer>
        </div>
    </center>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

